inst/doc
src/Makevars
src/_Makevars
doc
Meta
rrapply.Rcheck
.RData
.Rproj.user
.Rhistory
.project
.settings
README.Rmd
*.tex
*.aux
*.log
*.pdf
*.out
*.o
*.so
*.gz
/doc/
/Meta/
!vignettes/cheatsheet.pdf
