# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
r:
  - 3.0
  - 3.1
  - 3.2
  - 3.3
  - 3.4
  - 3.5
  - oldrel
  - release
  - devel
warnings_are_errors: true
sudo: false
cache: packages
os:
  - linux
notifications:
  email: true