# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: r
r:
  - 3.5
  - oldrel
  - release
  - devel
r_packages:
  - covr
after_success:
  - Rscript -e 'covr::codecov()'
warnings_are_errors: true
cache: packages
os:
  - linux
  - osx
matrix:
  exclude:
    - r: 
      - devel
      - oldrel
    - os: osx